    <footer class="g-footer">
      <div class="l-wrap">
        <p class="type-secondary">&copy; Tigerking {{ site.time | date: '%Y' }}</p>
      </div>
    </footer>

    <script src="{{ site.url }}/assets/javascripts/libs/html5shim.js"></script>
    <script src="{{ site.url }}/assets/javascripts/libs/jquery-2.1.1.min.js"></script>
    <script src="{{ site.url }}/assets/javascripts/libs/handlebars.js"></script>

    <script src="{{ site.url }}/assets/javascripts/templates.js"></script>
    <script src="{{ site.url }}/assets/javascripts/data.js?"></script>
    <script src="{{ site.url }}/assets/javascripts/events.js?"></script>
    <script src="{{ site.url }}/assets/javascripts/main.js?"></script>
    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
