<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/screen.css?v.1" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/icons.css?v.1" media="screen" />
    <script src="//use.typekit.net/kom4blc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header class="g-header">
      <div class="l-wrap">
        <h2 class="g-header-logo"><a href="{{ site.url }}">Trivia Night!</a></h2>

        <div class="g-header-nav">
          <ul>
            <li>
              <a href="">Log In</a>
            </li>
            <li>
              <a href="" class="ui-btn">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

