label {
  display: block;
  font-weight: bold;
  margin-bottom: $space/2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: $space/2;
  margin-bottom: $space*2;
  height: $ui-height;
  line-height: $ui-height;
  @include border-radius($ui-border-radius);
  border: $border;

  &:focus {
    outline: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.ui-form-input-large {
    height: $ui-height-large;
    line-height: $ui-height-large;
  }
}

